@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
  background-color: aquamarine;
  font-family: Raleway;
  letter-spacing: 2px;;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

nav {
  text-align: center;
}

.first_link{
  padding: 20px;
  
}

form{
  text-align: center;
}


.labelone{
  padding: 5px;
}

h2{
  text-align: center;
}
